{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<main class="container">
  <div class="student-header">
    <h1 class="display-6">Opportunities of Development thru Art's Students</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example.
      It’s built with default Bootstrap components and utilities with little customization.</p>
  </div>

  <div class="row">
  {% for class in allBooks %}
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="{{ class.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ class.name }}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">230 Student</a>
        </div>
      </div>
      <div class="pt-3">

      </div>
    </div><!--end col-md-3-->
    {% endfor %}

  </div><!--end of row-->



</main>

{% endblock%}
